* {
    box-sizing: border-box;
}

body{
    background-color: black;
}
.bodyContainer {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100%;
    width: 100%;
}

.bodyCanvas {
    position: relative; 
    display: inline-block;
}


.blocBottom {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
}

.presentation {
    position: absolute;
    color: white;
    width: 100%;
    bottom: 205px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

.command {
    position: absolute;
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    bottom: 35px;
    font-family: 'Press Start 2P', cursive;
}

.commandPlayer, .commandEnemy {
    width: 40%;
    font-size: 10px;
}


/* Player health */
.healthBarre {
    position: absolute;
    display: flex;
    width: 100%; 
    align-items: center; 
    padding: 20px;
}

.healthPlayer {
    position: relative;  
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
}

.healthPlayerBarre {
    background-color: red; 
    height: 30px; 
    width: 100%;
}

.playerHealth {
    position: absolute; 
    background: #818CF8; 
    top: 0; 
    bottom: 0; 
    right: 0;
    width: 100%;
}

/* Timer */
.timerBloc {
    background-color: black; 
    height: 50px; 
    width: 100px; 
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 4px solid white;
    font-family: 'Press Start 2P', cursive;
}


/* Enemy Health */
.healthEnemy {
    position: relative;  
    width: 100%;
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.healthEnemyBarre {
    background-color: red; 
    height: 30px;
}

.enemyHealth { 
    position: absolute; 
    background: #818CF8; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    width: 100%;
}

.comment {
    position: absolute; 
    color: white; 
    display: flex; 
    justify-content: center; 
    top: 290px; 
    right: 0; 
    left: 0; 
    bottom: 0; 
    display: none;
    font-family: 'Press Start 2P', cursive;
    color: white;
}